.navbar {
    height: 120px;
    background-color: black;
    display: flex;
    align-items: center;
}

.navbar .nav-list {
    display: flex;
    gap: 15px;
    list-style: none;
}

.navbar .nav-list .nav-link {
    text-decoration: none;
    color: white;
}

.spinner-div {
    position: relative;
    top: 0;
}

.spinner-div .loading {
    position: absolute;
    top: 66%;
    left: 44%;
    right: 50%;
    font-size: 3rem;
}